<ul>
  <% @bookmarks_list.each do |bookmark| %>
 <li class="bookmarks" id="bookmark-<%= bookmark.id %>">
      <a href="<%= bookmark.url %>">
        <%= bookmark.title %>
      </a>
      <form method = "post" action='/bookmarks/<%= bookmark.id %>'>
      <input type='hidden' name='_method' value='DELETE'>
      <input type='submit' value='Delete'>
      </form>
    </li>
  <% end %>
</ul>
